body {
  font-family: Arial;
  background: #111;
  color: #fff;
  padding: 20px;
}

h1 {
  text-align: center;
}

textarea {
  width: 100%;
  height: 150px;
  margin-bottom: 10px;
}

button {
  padding: 10px;
  width: 100%;
  background: gold;
  border: none;
  font-weight: bold;
}

.recipe {
  background: #222;
  padding: 15px;
  margin-top: 15px;
  border-radius: 10px;
}
